/**
 * @file
 * Styling for HFCC Website Menus.
 */


/* Mobile Navigation */

#section-mobilenav .menu {
  margin: 0.5em;
}

#section-mobilenav ul li {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0;
  padding: 0.826em 0;
}

#section-mobilenav ul li a:link,
#section-mobilenav ul li a:visited {
  color: #777;
  font-weight: bold;
  text-decoration: none;
}

#section-mobilenav ul li a:hover {
  text-decoration: underline;
}

#section-mobilenav ul li.active-trail a {
  color: #0054A6;
}

#block-bean-view-all-links-mobile p {
  background-color: #0054A6;
  border-radius: 5px;
  padding: 0.5em 0;
  text-align: center;
}

.more-links {
  color: #FFF;
  font-size: 1.12em;
  margin: 0.512em;
}

#stickyfooter {
  background-color: #333;
  bottom: 0px;
  height: 48px;
  margin: -48px auto 0;
  min-width: 320px;
  position: fixed;
  text-align: center;
  width: 100%;
}

#block-menu-menu-top-navigation ul {
  margin: 0.5em 0;
  text-align: center;
}

#block-menu-menu-top-navigation ul li {
  display: inline;
  float: left;
  font-size: 0.8em;
  padding: 0 0 0.2em;
  width: 46%;
}

#block-menu-menu-top-navigation ul li a:link,
#block-menu-menu-top-navigation ul li a:visited {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
}

#block-menu-menu-top-navigation ul li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 480px) {
  #block-menu-menu-top-navigation ul li {
    font-size: 0.9em;
  }

  #block-menu-menu-top-navigation ul {
    margin: 0.9em 0;
    text-align: center;
  }

  #block-menu-menu-top-navigation ul li {
    display: inline;
    float: none;
    font-size: 0.8em;
    padding: 0;
    width: inherit;
  }

}

@media only screen and (min-width: 768px) {

  ul#main-menu {
    margin: 0 auto;
    width: 86%;
  }

  #block-menu-menu-top-navigation ul li {
    font-size: 1em;
    padding: 0 0.85em;
  }

}

@media only screen and (min-width: 960px) {

  #block-menu-menu-top-navigation ul li {
    font-size: 1.15em;
    padding: 0 0.85em;
  }

}
