/**
 * @file
 * Styling for HFCC Website Nodes.
 */

/* Landing Pages */

.node-landing-page .field-name-field-content-blocks > .field-items > .field-item > div {
  padding: 0 5px;
}

/* Workbench */
/* see https://dvc.hfcc.net/webadmin/issues/issue1197#comment-5673 */

div.workbench-info-block {
  background: #DFD;
  border-color: #ACA;
}

.workbench-info-block .label {
  font-weight: bold;
}

/* Tuition Compare */

#block-views-tuition-compare-block {
  background-color: #c8dbb5;
  /*border: 2px solid #693;*/
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

#block-views-tuition-compare-block > .content {
  padding: 0 0.25em 0.25em 0.25em;
}

#block-views-tuition-compare-block > h2 {
  background-color: #060;
  color: #fff;
  border-radius: 5px 5px 0 0;
  text-align: center;
}

#block-views-tuition-compare-block select {
  font-size: 0.9em;
  max-width: 95%;
}

.field-name-field-tuition,
.field-name-mysite-hfcc-base-tuition,
.field-name-mysite-savings-tuition {
  background-color: #c8dbb5;
  border: solid 1px #693;
  border-radius: 5px;
  box-shadow: 3px 2px 3px;
  display: inline-block;
  margin: 0 0.51216389244558% 1.5em 0.51216389244558%;
  min-height: 9em;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.field-name-field-tuition .field-label,
.field-name-mysite-hfcc-base-tuition .field-label,
.field-name-mysite-savings-tuition .field-label {
  font-size: 1.3em;
}

.field-name-field-tuition .field-item,
.field-name-mysite-hfcc-base-tuition .field-items,
.field-name-mysite-savings-tuition .field-items {
  font-size: 2.2em;
  font-weight: bold;
  color: #395918;
}

/* 7 Steps to Enroll page */
.step-wrapper {
  box-shadow: 1px 1px 5px 1px lightgray;
  max-width: 550px;
}

.step-wrapper .header {
  padding-left: .5em;
  border-bottom:  4px solid #949599;
  margin-bottom: 0;
}

.step-wrapper .par {
  background-color: #fafafa;
  margin-bottom: 15px;
  padding: .5em 1.5em;
}

.step-wrapper h3 {
  color: white;
}

.step-wrapper h4 {
  margin-bottom: 0;
}

.step-wrapper p {
  margin-bottom: 0;
}

.step-wrapper .header.blue {
  background-color: #0054a6;
}

.step-wrapper .header.yellow {
  background-color: #f8b433;
}

.step-wrapper .header.gray {
  background-color: #76797c;
}

.step-wrapper .header.red {
  background-color: #ed4a36;
}

.step-wrapper .header.green {
  background-color: #7a9d3e;
}

.step-wrapper .header.teal {
  background-color: #11b0aa;
}

.step-wrapper .header.purple {
  background-color: #683065;
}

/* 7 Steps Sidebar Menu*/

#block-menu-menu-7-steps-sidebar-menu {
  background-color: #fafafa;
  margin: 0 auto;
  padding: 0;
  font-size: 1rem;
}

#block-menu-menu-7-steps-sidebar-menu h2 {
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

#block-menu-menu-7-steps-sidebar-menu ul.menu {
  margin: 0;
}

#block-menu-menu-7-steps-sidebar-menu .leaf {
  padding: 0.3125em;
  border-style: solid;
  border-width: 2px 1em;
  margin: 0;
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(1){
  border-color: #0054a6; /* blue */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(2){
  border-color: #f8b433; /* yellow */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(3){
  border-color: #76797c; /* gray */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(4){
  border-color: #ed4a36; /* red */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(5){
  border-color: #7a9d3e; /* green */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(6){
  border-color: #11b0aa; /* teal */
}

#block-menu-menu-7-steps-sidebar-menu .leaf:nth-child(7){
  border-color: #683065; /* purple */
}

#block-menu-menu-7-steps-sidebar-menu .leaf.last {
  border: none;
  padding-left: 1.3125em;
}

/* Icon Footer (MCCA Block, HLC, Global Text) (mobile) */

#block-bean-hlc-affliation img {
  max-width: 125px;
}

@media only screen and (min-width: 480px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
  }

  .field-name-field-tuition,
  .field-name-mysite-hfcc-base-tuition,
  .field-name-mysite-savings-tuition {
    width: 32%;
  }

}

@media only screen and (min-width: 687px) {

  .region-footer {
    padding-top: 20px;
    padding-left: 40px;
  }

}

@media only screen and (min-width: 768px) {

  .node-landing-page .field-name-field-content-blocks > .field-items > .field-item {
    width: 32%;
  }

}

@media only screen and (min-width: 1024px) {

  #section-footer {
    text-align: left;
  }

}
