/**
 * @file
 * Styling for HFCC Website Front Page.
 */

  /* Header */

.header-container {
  position: relative;
}

#search-click {
  background: url(../images/search2.png) no-repeat;
  background-position: center;
  background-size: 30px 30px;
  float: right;
  padding: 40px 21px;
}

form#search-block-form {
  margin: 0;
}

#search-block-form .form-submit {
  display: none;
}

#block-search-form .container-inline {
  background-color: #0054A6;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 5px 10px -4px #666;
  padding: 8px;
  position: absolute;
  right: 1px;
  top: 90px;
  z-index: 10;
  display: none;
}

 .mobile-anchor {
  background: url(../images/menu2.png) no-repeat;
  background-size: 30px 30px;
  background-position: center;
  display: block;
  float: right;
  padding: 21px 21px;
}

#block-menu-menu-site-index-menu ul.menu {
  display: none;
  float: right;
  margin: 0;
  padding: 26.5px 0;
  position: relative;
  text-align: right;
  width: 202px;
}

#block-menu-menu-site-index-menu ul.menu li {
  display: inline;
}

#block-menu-menu-site-index-menu ul.menu li a {
  border-bottom: 1px solid #fff;
  font-size: 1em;
  color: #FFF;
  font-weight: bold;
}

#block-menu-menu-site-index-menu ul.menu li a:hover {
  text-decoration: none;
}

@media only screen and (min-width: 480px) {

  #search-click {
    padding: 40px 24px
  }

  .mobile-anchor {
    padding: 21px;
  }

  form#search-block-form {
    float: right;
    clear: none;
  }

}

@media only screen and (min-width: 480px) {

  form#search-block-form {
    clear: right;
    padding: 0;
    margin-left: 1em;
  }

  .mobile-anchor {
    display: none;
  }

  #search-click {
    display: none;
  }

  #block-search-form .container-inline {
    border-radius: none;
    box-shadow: none;
    padding: 26.5px 0;
    position: static;
    display: block;
  }

}

@media only screen and (min-width: 550px) {

  #block-menu-menu-site-index-menu ul.menu {
    display: block;
  }

}
