/**
 * @file
 * Styling for HFCC Website Pages.
 */

 /** Page **/

#page {
  padding-bottom: 48px;
}

/* Main Navigation */

#block-superfish-1 {
  position: relative;
  z-index: 1;
}

/* Billboard Region */

.region-billboard {
  padding: 1.5em 0;
}

#breadcrumb {
  display: none;
}

.page-news #breadcrumb {
  display: block;
  padding-left: 6px;
}

/* Main Content */

.front #content-inner {
  font-size: inherit;
  padding: 0;
}

/* FAQ Section */

.view-student-services-faq .view-filters form {
  text-align: center;
  margin: 0;
}

.view-student-services-faq .view-filters #edit-title-wrapper {
  width: 600px;
  max-width: 85%;
  display: inline-block;
}

.view-student-services-faq .view-filters .views-submit-button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.view-student-services-faq .view-filters input[type="text"] {
  width: 100%;
  line-height: 2em;
  margin: 0;
  padding: 0 4px;
  font: inherit;
  min-height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.view-student-services-faq .view-filters .views-submit-button input[type="submit"] {
  background-color: #002348;
  padding: 0;
  margin: 0;
  border: 2px solid #002348;
  background-image: url('../../futuredriven/images/search.svg');
  background-color: #002348;
  background-size: 25px 25px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  font-size: 0;
  color: transparent;
  transition: all .2s ease;
  min-height: 40px;
  display: inline-block;
  vertical-align: bottom;
}

.view-student-services-faq .view-filters .views-submit-button input[type="submit"]:hover {
  background-color: transparent;
  background-image: url('../../futuredriven/images/search-blue.svg');
  color: #002348;
}

.view-student-services-faq .view-filters #edit-title-wrapper label {
  overflow: hidden;
  font-size: 0;
  color: transparent;
  line-height: 0;
}

.view-student-services-faq .form-item,
.view-student-services-faq.form-actions {
  margin: 0;
}

/* Sidebars */

.front .events-list ul {
  margin-left: 0;
}

.front .view-announcements ul li {
  margin: 0 0 1.5em 0;
}

/* Mobile Navigation */

#section-mobilenav {
  background-color: #F3F3F9;
  box-shadow: 0 0 3px 1px #666;
  padding: 0 0.9375em;
  position: absolute;
  top: 71px;
  right: 0;
  height: 100%;
  display: none;
}

@media only screen and (min-width: 480px) {

  #section-mobilenav {
    top: 79px;
  }

}

@media only screen and (min-width: 768px) {

  #section-navigation {
    display: block;
  }

  #block-menu-menu-main-menu-mobile,
  #block-bean-view-all-links-mobile {
    display: none;
  }

  #section-mobilenav {
    display: none;
  }

}
